.wrapper {
    padding-top: 50px;
    background-image: linear-gradient(to right bottom,#fffd7b, rgb(17, 141, 131));
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }